.serverError {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  align-items: center;

  height: 100%;
  width: 100%;
  text-align: center;

  h2 {
    font-size: 80px;
    font-weight: var(--font-weight-bold);
    color: var(--primary);
  }

  p {
    font-size: 21px;
    font-weight: var(--font-weight-regular);
    color: var(--text-900);
  }
}
