/* NOTE print 기능은 certificate에서 사용하기에 현재 css파일에서 다룬다 */
@media print {
  @page {
    margin: 0;
    padding: 0;
  }

  h1,
  header,
  footer {
    display: none !important;
  }

  main {
    margin-top: 0px !important;
    height: 100%;
  }

  section {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.certificate {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > section {
    width: 100%;
    max-width: 900px;
    padding: 0 0 60px;

    @media (max-width: 768px) {
      padding: 0 32px 40px;
    }
  }
}

.backButton {
  padding: 0;
}

.certificateTitle {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.content {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 758px;
  height: 442px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #979aff 0%, #5bb98b 100%);
  border-image-slice: 1;

  @media (max-width: 768px) {
    margin-top: 30px;
    width: 100%;
    height: 442px;
  }

  @media print {
    border-width: 2px;
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  .descriptionText {
    text-align: center;
  }

  @media print {
    & > h2 {
      font-size: 20px;
    }

    & > h3 {
      font-size: 20px;
      line-height: 18px;
    }

    & > h4 {
      font-size: 40px;
      line-height: 50px;
    }

    & > p {
      font-size: 18px;
    }

    & > .signature {
      width: 116px;
      height: 33px;
    }

    & > h5 {
      font-size: 18px;
    }

    & > span {
      font-size: 14px;
    }
  }
}
.signature {
  width: 90px;
  height: 26px;
}

.signatureDivider {
  width: 1px;
  height: 20px;
  background-color: rgba(69, 81, 89, 1);
}

.buttons {
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 20px;
  }

  @media print {
    display: none;
  }
}

.serverErrorWrapper {
  margin-top: 160px;
  margin-bottom: 300px;
}
