.headerWrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-900);
  padding: 20px 0;
  font-weight: var(--font-weight-medium);
  width: 100%;
  border-bottom: 1px solid var(--bg-300);
  background-color: var(--bg-200);

  header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}

.logoLink {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  padding: 10px 5px;
  font-weight: var(--font-weight-medium);

  span {
    display: none;
    @media only screen and (min-width: 768px) {
      display: inline;
      font-size: 20px;
    }
  }

  svg {
    width: 45px;
  }

  &:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    @media only screen and (min-width: 768px) {
      box-shadow: none;
      font-weight: var(--font-weight-bold);
    }
  }

  &:active {
    svg path {
      fill: var(--text-900);
    }

    @media only screen and (min-width: 768px) {
      svg path {
        fill: url(#paint0_linear_278_133); /* Reset to original colour */
      }
    }

    outline: 3px solid var(--primary);
    outline-offset: 2px;
    border-radius: 10px;
  }

  &:focus-visible {
    outline: 3px solid var(--primary);
    outline-offset: 2px;
    border-radius: 10px;
  }

  &:active span {
    color: var(--primary);
  }
}
