.sidebar {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: 1080px) {
    position: sticky;
    z-index: var(--z-index-aside);
    top: 87px;
    flex-direction: column;
    max-width: 203px;
  }
}

.cohort {
  display: none;
  @media (min-width: 1080px) {
    display: flex;
    justify-content: flex-end;
  }
}

.container {
  padding: 20px 35px;
  background-color: var(--bg-200);
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

  &.error {
    height: 750px;
  }
}

.profile {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  @media (min-width: 1080px) {
    margin-top: 22.5px;
  }
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.avatar img {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.progress-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg,
    var(--secondary) 0%,
    var(--primary) var(--progress),
    var(--bg-200) var(--progress)
  );
}

.progress-text {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  color: var(--text-secondary);
}

.username {
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 20px;
  font-weight: var(var(--font-weight-regular));
  @media (min-width: 1080px) {
    margin-bottom: 25px;
  }
}

.currentStatus {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  @media (min-width: 1080px) {
    padding-bottom: 31px;
    border-bottom: 2px solid var(--primary);
  }
}

.currentStatus img {
  width: 70px;
  height: 85px;
  @media (min-width: 1080px) {
    width: 80px;
    height: 103px;
  }
}

.taskCounts {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  @media (min-width: 1080px) {
    flex-direction: column;
    margin-top: 50px;
    gap: 35px;
    font-weight: var(--font-weight-bold);
  }
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  gap: 5px;
  @media (min-width: 1080px) {
    font-size: 20px;
  }
}

.progress {
  font-size: 12px;
  @media (min-width: 1080px) {
    font-size: 14px;
  }
}

.easy {
  color: #007f71;
}

.medium {
  color: #936a00;
}

.hard {
  color: #db2749;
}

.gradientText {
  background: linear-gradient(to right, #24faca, var(--primary));
  color: transparent;
  background-clip: text;
  font-size: 17px;
}

.solidText {
  font-size: 13px;
}

.returnLinkWrapper {
  display: flex;
  justify-content: flex-end;

  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (min-width: 1080px) {
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
  }
}

.problemLinkWrapper {
  font-size: 11px;
  margin-top: 20px;
}

.githubLinkWrapper {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  font-size: 14px;
  margin-top: 10px;
}
