.footer {
  background-color: var(--colors-bg-solid-neutral);
  color: var(--colors-fg-solid-neutral);
}

.footerTop {
  padding: 80px 32px 0 32px;
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.footerTopLeftMenu {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}

.footerTopRightMenu {
  @media (max-width: 768px) {
    padding: 40px 16px;
    border-bottom: 1px solid var(--colors-fg-solid-neutral);
  }
}

.footerTopLabel {
  font-size: var(--font-sizes-md);
  font-weight: var(--font-weights-medium);
  line-height: var(--line-heights-tight);
  letter-spacing: var(--letter-spacings-balanced);
}

.footerBottom {
  padding: 40px 32px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
