.footer {
  background-color: var(--colors-bg-solid-neutral);
  color: var(--colors-fg-solid-neutral);
}

.footerTop {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: 1100px) {
    flex-direction: row;
    padding: 80px 32px 0 32px;
  }
}

.footerTopLeftMenu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  @media (min-width: 1100px) {
    flex-direction: row;
    gap: 40px;
  }
}

.footerTopRightMenu {
  display: flex;
  align-items: flex-end;
  @media (max-width: 1100px) {
    padding: 40px 16px;
    border-bottom: 1px solid var(--colors-fg-solid-neutral);
  }
}

.footerTopLabel {
  font-size: var(--font-sizes-md);
  font-weight: var(--font-weights-medium);
  line-height: var(--line-heights-tight);
  letter-spacing: var(--letter-spacings-balanced);
}

.footerBottom {
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @media (min-width: 1100px) {
    justify-content: space-between;
    padding: 40px 32px;
  }
}
