table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 48px;
  background-color: var(--bg-100);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

/* Row & Cell Styles */
td {
  height: 48px;
}

tr:nth-child(odd) {
  background-color: var(--bg-200);
}

tr:nth-child(even) {
  background-color: var(--bg-100);
}

/* Problem column */
.problemHeading {
  padding-left: 17px;
  text-align: left;
}

.problemData {
  padding-left: 17px;
  text-align: left;
  width: 52%;
  font-weight: var(--font-weight-regular);
}

/* Difficulty column */
.difficultyHeading,
.difficultyData {
  text-align: center;
  width: 25%;
}

.difficultyData {
  font-weight: var(--font-weight-medium);
}

.easy {
  color: #1cbaba;
}

.medium {
  color: #ffb700;
}

.hard {
  color: #f63737;
}

/* Status column */
.statusHeading,
.statusData {
  text-align: center;
  width: 23%;
}

.serverErrorWrapper {
  td {
    padding-top: 170px;
    padding-bottom: 400px;
    background-color: var(--bg-100);
  }
}
