table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--bg-100);
  font-weight: var(--font-weight-bold);
  text-align: center;
  height: 35px;
  font-size: 13px;
  @media (min-width: 1080px) {
    height: 48px;
    font-size: 18px;
  }
}

/* Row & Cell Styles */
td {
  height: 35px;
  font-size: 10px;
  @media (min-width: 1080px) {
    height: 48px;
    font-size: 16px;
  }
}

tr:nth-child(odd) {
  background-color: var(--bg-200);
}

tr:nth-child(even) {
  background-color: #ffffff;
}

/* Problem column */
.problemHeading {
  padding-left: 17px;
  text-align: left;
}

.problemData {
  padding-left: 17px;
  text-align: left;
  width: 52%;
  font-weight: var(--font-weight-regular);
}

/* Difficulty column */
.difficultyHeading,
.difficultyData {
  text-align: center;
  width: 25%;
}

.difficultyData {
  font-weight: var(--font-weight-medium);
}

.easy {
  color: #007f71;
}

.medium {
  color: #936a00;
}

.hard {
  color: #e0284b;
}

.completedIcon {
  width: 10px;
  height: 7.5px;
  @media (min-width: 1080px) {
    width: 18px;
    height: 13.5px;
  }
}

.incompleteIcon {
  width: 8px;
  height: 8px;
  opacity: 0.4;
  @media (min-width: 1080px) {
    width: 15px;
    height: 15px;
  }
}

/* Status column */
.statusHeading,
.statusData {
  text-align: center;
  width: 23%;
}

.serverErrorWrapper {
  td {
    padding-top: 170px;
    padding-bottom: 400px;
    background-color: var(--bg-100);
  }
}
